<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixPointerToZero"
             problemId="com.baldapps.artemis.checkers.PointerResetProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixPointerToNullPtr"
             problemId="com.baldapps.artemis.checkers.PointerResetProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixImplicitVirtualMethod"
             problemId="com.baldapps.artemis.checkers.ImplicitVirtualProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixAddBlock"
             problemId="com.baldapps.artemis.checkers.MissBraceProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixSizeOfParen"
             problemId="com.baldapps.artemis.checkers.SizeofNoParenProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixNonVirtualDestructor"
             problemId="org.eclipse.cdt.codan.internal.checkers.NonVirtualDestructorProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixAddExplicit"
             problemId="com.baldapps.artemis.checkers.UseExplicitProblem">
       </resolution>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers">
      <checker
            class="com.baldapps.artemis.checkers.CtorDtorChecker"
            id="com.baldapps.artemis.checkers.CtorDtorChecker"
            name="%checker.name.CtorDtorChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.ThrowInDestructorProblem"
               id="com.baldapps.artemis.checkers.ThrowInDestructorProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ThrowInDestructorProblem"
               name="%problem.name.ThrowInDestructorProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.GlobalsInCtorProblem"
               id="com.baldapps.artemis.checkers.GlobalsInCtorProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.GlobalsInCtorProblem"
               name="%problem.name.GlobalsInCtorProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CallSuperCtorProblem"
               id="com.baldapps.artemis.checkers.CallSuperCtorProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CallSuperCtorProblem"
               name="%problem.name.CallSuperCtorProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.VariablesChecker"
            id="com.baldapps.artemis.checkers.VariablesChecker"
            name="%checker.name.VariablesChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.MissedInitializationProblem"
               id="com.baldapps.artemis.checkers.MissedInitializationProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MissedInitializationProblem"
               name="%problem.name.MissedInitializationProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.StaticMissedInitializationProblem"
               id="com.baldapps.artemis.checkers.StaticMissedInitializationProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.StaticMissedInitializationProblem"
               name="%problem.name.StaticMissedInitializationProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.AvoidGlobalVarsProblem"
               id="com.baldapps.artemis.checkers.AvoidGlobalVarsProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.AvoidGlobalVarsProblem"
               name="%problem.name.AvoidGlobalVarsProblem">
         </problem>
      </checker>
      <checker
           class="com.baldapps.artemis.checkers.ClassMembersConstChecker"
           id="com.baldapps.artemis.checkers.ClassMembersConst"
           name="%checker.name.ClassMembersConst">
        <problem
              category="org.eclipse.cdt.codan.core.categories.CompilerErrors"
              defaultEnabled="false"
              defaultSeverity="Error"
              description="%problem.description.MemberCannotBeUsedInStatic"
              id="com.baldapps.artemis.checkers.MemberCannotBeUsedInStatic"
              markerType="org.eclipse.cdt.codan.core.codanSemanticProblem"
              messagePattern="%problem.messagePattern.MemberCannotBeUsedInStatic"
              name="%problem.name.MemberCannotBeUsedInStatic">
        </problem>
        <problem
              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
              defaultEnabled="false"
              defaultSeverity="Warning"
              description="%problem.description.MethodShouldBeStatic"
              id="com.baldapps.artemis.checkers.MethodShouldBeStatic"
              messagePattern="%problem.messagePattern.MethodShouldBeStatic"
              name="%problem.name.MethodShouldBeStatic">
        </problem>
        <problem
              category="org.eclipse.cdt.codan.core.categories.CompilerErrors"
              defaultEnabled="false"
              defaultSeverity="Error"
              description="%problem.description.MemberCannotBeWritten"
              id="com.baldapps.artemis.checkers.MemberCannotBeWritten"
              markerType="org.eclipse.cdt.codan.core.codanSemanticProblem"
              messagePattern="%problem.messagePattern.MemberCannotBeWritten"
              name="%problem.name.MemberCannotBeWritten">
        </problem>
        <problem
              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
              defaultEnabled="false"
              defaultSeverity="Warning"
              description="%problem.description.MethodShouldBeConst"
              id="com.baldapps.artemis.checkers.MethodShouldBeConst"
              messagePattern="%problem.messagePattern.MethodShouldBeConst"
              name="%problem.name.MethodShouldBeConst">
        </problem>
     </checker>
     <checker
            class="com.baldapps.artemis.checkers.ReturnChecker"
            id="com.baldapps.artemis.checkers.ReturnChecker"
            name="%checker.name.LocalAddressChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.RetPrivateField"
               id="com.baldapps.artemis.checkers.RetPrivateField"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.RetPrivateField"
               name="%problem.name.RetPrivateField">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.NoRetThisOpAssign"
               id="com.baldapps.artemis.checkers.NoRetThisOpAssign"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.NoRetThisOpAssign"
               name="%problem.name.NoRetThisOpAssign">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.RetFieldFromConstMethod"
               id="com.baldapps.artemis.checkers.RetFieldFromConstMethod"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.RetFieldFromConstMethod"
               name="%problem.name.RetFieldFromConstMethod">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.AllocationChecker"
            id="com.baldapps.artemis.checkers.AllocationChecker"
            name="%checker.name.AllocationChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.DeleteThisProblem"
               id="com.baldapps.artemis.checkers.DeleteThisProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.DeleteThisProblem"
               name="%problem.name.DeleteThisProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.PointerResetProblem"
               id="com.baldapps.artemis.checkers.PointerResetProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.PointerResetProblem"
               name="%problem.name.PointerResetProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.DynamicArrayProblem"
               id="com.baldapps.artemis.checkers.DynamicArrayProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.DynamicArrayProblem"
               name="%problem.name.DynamicArrayProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.DeleteVoidProblem"
               id="com.baldapps.artemis.checkers.DeleteVoidProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.DeleteVoidProblem"
               name="%problem.name.DeleteVoidProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.NamingConventionClassesChecker"
            id="com.baldapps.artemis.checkers.NamingConventionClassesChecker"
            name="%checker.name.NamingConventionClassesChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.ClassNameProblem"
               id="com.baldapps.artemis.checkers.ClassNameProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ClassNameProblem"
               name="%problem.name.ClassNameProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.LabelPositionProblem"
               id="com.baldapps.artemis.checkers.LabelPositionProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.LabelPositionProblem"
               name="%problem.name.LabelPositionProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.FieldsVisibilityProblem"
               id="com.baldapps.artemis.checkers.FieldsVisibilityProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.FieldsVisibilityProblem"
               name="%problem.name.FieldsVisibilityProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.TryCatchStatementChecker"
            id="com.baldapps.artemis.checkers.TryCatchStatementChecker"
            name="%checker.name.TryCatchStatementChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CatchAllProblem"
               id="com.baldapps.artemis.checkers.CatchAllProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CatchAllProblem"
               name="%problem.name.CatchAllProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CatchAllOrderProblem"
               id="com.baldapps.artemis.checkers.CatchAllOrderProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CatchAllOrderProblem"
               name="%problem.name.CatchAllOrderProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CatchEmptyProblem"
               id="com.baldapps.artemis.checkers.CatchEmptyProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CatchEmptyProblem"
               name="%problem.name.CatchEmptyProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.EmptyThrowProblem"
               id="com.baldapps.artemis.checkers.EmptyThrowProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.EmptyThrowProblem"
               name="%problem.name.EmptyThrowProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CatchNoStdProblem"
               id="com.baldapps.artemis.checkers.CatchNoStdProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CatchNoStdProblem"
               name="%problem.name.CatchNoStdProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.SizeofChecker"
            id="com.baldapps.artemis.checkers.SizeofChecker"
            name="%checker.name.SizeofChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.SizeofArrayProblem"
               id="com.baldapps.artemis.checkers.SizeofArrayProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.SizeofArrayProblem"
               name="%problem.name.SizeofArrayProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.SizeofNestedProblem"
               id="com.baldapps.artemis.checkers.SizeofNestedProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.SizeofNestedProblem"
               name="%problem.name.SizeofNestedProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.SizeofVoidProblem"
               id="com.baldapps.artemis.checkers.SizeofVoidProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.SizeofVoidProblem"
               name="%problem.name.SizeofVoidProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.SizeofNoParenProblem"
               id="com.baldapps.artemis.checkers.SizeofNoParenProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.SizeofNoParenProblem"
               name="%problem.name.SizeofNoParenProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.TrigraphsChecker"
            id="com.baldapps.artemis.checkers.TrigraphsChecker"
            name="%checker.name.TrigraphsChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.TrigraphsProblem"
               id="com.baldapps.artemis.checkers.TrigraphsProblemError"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.TrigraphsProblem"
               name="%problem.name.TrigraphsProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.LambdaExpressionChecker"
            id="com.baldapps.artemis.checkers.LambdaExpressionChecker"
            name="%checker.name.LambdaExpressionChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.LambdaCaptureProblem"
               id="com.baldapps.artemis.checkers.LambdaCaptureProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.LambdaCaptureProblem"
               name="%problem.name.LambdaCaptureProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.NamespaceChecker"
            id="com.baldapps.artemis.checkers.NamespaceChecker"
            name="%checker.name.NamespaceChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.StdNamespaceProblem"
               id="com.baldapps.artemis.checkers.StdNamespaceProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.StdNamespaceProblem"
               name="%problem.name.StdNamespaceProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.NamespaceNameProblem"
               id="com.baldapps.artemis.checkers.NamespaceNameProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.NamespaceNameProblem"
               name="%problem.name.NamespaceNameProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.ForLoopChecker"
            id="com.baldapps.artemis.checkers.ForLoopChecker"
            name="%checker.name.ForLoopChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.FloatCounterProblem"
               id="com.baldapps.artemis.checkers.FloatCounterProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.FloatCounterProblem"
               name="%problem.name.FloatCounterProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.BreakInLoopProblem"
               id="com.baldapps.artemis.checkers.BreakInLoopProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.BreakInLoopProblem"
               name="%problem.name.BreakInLoopProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CounterModificationProblem"
               id="com.baldapps.artemis.checkers.CounterModificationProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CounterModificationProblem"
               name="%problem.name.CounterModificationProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.AutoPtrChecker"
            id="com.baldapps.artemis.checkers.AutoPtrChecker"
            name="%checker.name.AutoPtrChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.AutoPtrProblem"
               id="com.baldapps.artemis.checkers.AutoPtrProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.AutoPtrProblem"
               name="%problem.name.AutoPtrProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.MemCompareChecker"
            id="com.baldapps.artemis.checkers.MemCompareChecker"
            name="%checker.name.MemCompareChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CompareCompositeTypesProblem"
               id="com.baldapps.artemis.checkers.CompareCompositeTypesProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CompareCompositeTypesProblem"
               name="%problem.name.CompareCompositeTypesProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.StringChecker"
            id="com.baldapps.artemis.checkers.StringChecker"
            name="%checker.name.StringChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.CstrProblem"
               id="com.baldapps.artemis.checkers.CstrProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CstrProblem"
               name="%problem.name.CstrProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.BraceChecker"
            id="com.baldapps.artemis.checkers.BraceChecker"
            name="%checker.name.BraceChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.MissBraceProblem"
               id="com.baldapps.artemis.checkers.MissBraceProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MissBraceProblem"
               name="%problem.name.MissBraceProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.MemberClassesChecker"
            id="com.baldapps.artemis.checkers.MemberClassesChecker"
            name="%checker.name.MemberClassesChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CtorDtorInlineProblem"
               id="com.baldapps.artemis.checkers.CtorDtorInlineProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CtorDtorInlineProblem"
               name="%problem.name.CtorDtorInlineProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.VirtualInlineProblem"
               id="com.baldapps.artemis.checkers.VirtualInlineProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.VirtualInlineProblem"
               name="%problem.name.VirtualInlineProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.ImplicitVirtualProblem"
               id="com.baldapps.artemis.checkers.ImplicitVirtualProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ImplicitVirtualProblem"
               name="%problem.name.ImplicitVirtualProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.AvoidOverloadsProblem"
               id="com.baldapps.artemis.checkers.AvoidOverloadsProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.AvoidOverloadsProblem"
               name="%problem.name.AvoidOverloadsProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.UserCtorProblem"
               id="com.baldapps.artemis.checkers.UserCtorProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.UserCtorProblem"
               name="%problem.name.UserCtorProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.AbstractNoCopyProblem"
               id="com.baldapps.artemis.checkers.AbstractNoCopyProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.AbstractNoCopyProblem"
               name="%problem.name.AbstractNoCopyProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.AvoidMultipleInheritanceProblem"
               id="com.baldapps.artemis.checkers.AvoidMultipleInheritanceProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.AvoidMultipleInheritanceProblem"
               name="%problem.name.AvoidMultipleInheritanceProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CopyCtorOnlyProblem"
               id="com.baldapps.artemis.checkers.CopyCtorOnlyProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CopyCtorOnlyProblem"
               name="%problem.name.CopyCtorOnlyProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.AssignOpOnlyProblem"
               id="com.baldapps.artemis.checkers.AssignOpOnlyProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.AssignOpOnlyProblem"
               name="%problem.name.AssignOpOnlyProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.StructsChecker"
            id="com.baldapps.artemis.checkers.StructsChecker"
            name="%checker.name.StructsChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.AvoidStructsProblem"
               id="com.baldapps.artemis.checkers.AvoidStructsProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.AvoidStructsProblem"
               name="%problem.name.AvoidStructsProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.FunctionChecker"
            id="com.baldapps.artemis.checkers.FunctionChecker"
            name="%checker.name.StructsChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.ParByCopyProblem"
               id="com.baldapps.artemis.checkers.ParByCopyProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ParByCopyProblem"
               name="%problem.name.ParByCopyProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.FieldsClassesChecker"
            id="com.baldapps.artemis.checkers.FieldsClassesChecker"
            name="%checker.name.FieldsClassesChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.HidingFieldProblem"
               id="com.baldapps.artemis.checkers.HidingFieldProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.HidingFieldProblem"
               name="%problem.name.HidingFieldProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.FieldsNoCtorProblem"
               id="com.baldapps.artemis.checkers.FieldsNoCtorProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.FieldsNoCtorProblem"
               name="%problem.name.FieldsNoCtorProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.ClassFieldsCopiedChecker"
            id="com.baldapps.artemis.checkers.ClassFieldsCopiedChecker"
            name="%checker.name.ClassFieldsCopiedChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.ClassFieldsCopiedProblem"
               id="com.baldapps.artemis.checkers.ClassFieldsCopiedProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ClassFieldsCopiedProblem"
               name="%problem.name.ClassFieldsCopiedProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.ExplicitChecker"
            id="com.baldapps.artemis.checkers.ExplicitChecker"
            name="%checker.name.ExplicitChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.UseExplicitProblem"
               id="com.baldapps.artemis.checkers.UseExplicitProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.UseExplicitProblem"
               name="%problem.name.UseExplicitProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.ValueConventionLiteralsChecker"
            id="com.baldapps.artemis.checkers.ValueConventionLiteralsChecker"
            name="%checker.name.ValueConventionLiteralsChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.ValueConventionLiteralsProblem"
               id="com.baldapps.artemis.checkers.ValueConventionLiteralsProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ValueConventionLiteralsProblem"
               name="%problem.name.ValueConventionLiteralsProblem">
         </problem>
      </checker>     
   </extension>
</plugin>
