<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixPointerToZero"
             problemId="com.baldapps.artemis.checkers.PointerResetProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixPointerToNullPtr"
             problemId="com.baldapps.artemis.checkers.PointerResetProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixAddDefaultSwitch"
             problemId="com.baldapps.artemis.checkers.MissDefaultProblem">
       </resolution>
       <resolution
             class="com.baldapps.artemis.quickfix.QuickFixAddCaseSwitch"
             problemId="com.baldapps.artemis.checkers.MissCaseProblem">
       </resolution>
   </extension>
   <extension
         point="org.eclipse.cdt.codan.core.checkers">
      <checker
            class="com.baldapps.artemis.checkers.CtorDtorChecker"
            id="com.baldapps.artemis.checkers.CtorDtorChecker"
            name="%checker.name.CtorDtorChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.VirtualMethodCallProblem"
               id="com.baldapps.artemis.checkers.VirtualMethodCallProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.VirtualMethodCallProblem"
               name="%problem.name.VirtualMethodCallProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.ThrowInDestructorProblem"
               id="com.baldapps.artemis.checkers.ThrowInDestructorProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ThrowInDestructorProblem"
               name="%problem.name.ThrowInDestructorProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.GlobalsInCtorProblem"
               id="com.baldapps.artemis.checkers.GlobalsInCtorProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.GlobalsInCtorProblem"
               name="%problem.name.GlobalsInCtorProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.MagicNumberChecker"
            id="com.baldapps.artemis.checkers.MagicNumberChecker"
            name="%checker.name.MagicNumberChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.MagicNumberProblem"
               id="org.eclipse.cdt.codan.internal.checkers.MagicNumberProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MagicNumberProblem"
               name="%problem.name.MagicNumberProblem">
         </problem>
      </checker>
      <checker
           class="com.baldapps.artemis.checkers.VariableShadowingChecker"
           id="com.baldapps.artemis.checkers.VariableShadowing"
           name="%checker.name.VariableShadowing">
           <problem
              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
              defaultEnabled="false"
              defaultSeverity="Warning"
              description="%problem.description.VariableShadowing"
              id="com.baldapps.artemis.checkers.VariableShadowingProblem"
              messagePattern="%problem.messagePattern.VariableShadowing"
              name="%problem.name.VariableShadowing">
	       </problem>
       </checker>
       <checker
            class="com.baldapps.artemis.checkers.CopyrightChecker"
            id="com.baldapps.artemis.checkers.CopyrightChecker"
            name="%checker.name.CopyrightChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CopyrightProblem"
               id="com.baldapps.artemis.checkers.CopyrightProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CopyrightProblem"
               name="%problem.name.CopyrightProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.ShallowCopyChecker"
            id="com.baldapps.artemis.checkers.ShallowCopyChecker"
            name="%checker.name.ShallowCopyChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.ShallowCopyProblem"
               id="com.baldapps.artemis.checkers.ShallowCopyProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ShallowCopyProblem"
               name="%problem.name.ShallowCopyProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.VariablesChecker"
            id="com.baldapps.artemis.checkers.VariablesChecker"
            name="%checker.name.VariablesChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.StaticVariableProblem"
               id="com.baldapps.artemis.checkers.StaticVariableProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.StaticVariableProblem"
               name="%problem.name.StaticVariableProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.MissedInitializationProblem"
               id="com.baldapps.artemis.checkers.MissedInitializationProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MissedInitializationProblem"
               name="%problem.name.MissedInitializationProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.MultipleDeclarationsProblem"
               id="com.baldapps.artemis.checkers.MultipleDeclarationsProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MultipleDeclarationsProblem"
               name="%problem.name.MultipleDeclarationsProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.FloatCompareChecker"
            id="com.baldapps.artemis.checkers.FloatCompareChecker"
            name="%checker.name.FloatCompareChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.FloatCompareProblem"
               id="com.baldapps.artemis.checkers.FloatCompareProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.FloatCompareProblem"
               name="%problem.name.FloatCompareProblem">
         </problem>
      </checker>
      <checker
           class="com.baldapps.artemis.checkers.ClassMembersConstChecker"
           id="com.baldapps.artemis.checkers.ClassMembersConst"
           name="%checker.name.ClassMembersConst">
        <problem
              category="org.eclipse.cdt.codan.core.categories.CompilerErrors"
              defaultEnabled="true"
              defaultSeverity="Error"
              description="%problem.description.MemberCannotBeUsedInStatic"
              id="com.baldapps.artemis.checkers.MemberCannotBeUsedInStatic"
              markerType="org.eclipse.cdt.codan.core.codanSemanticProblem"
              messagePattern="%problem.messagePattern.MemberCannotBeUsedInStatic"
              name="%problem.name.MemberCannotBeUsedInStatic">
        </problem>
        <problem
              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
              defaultEnabled="true"
              defaultSeverity="Warning"
              description="%problem.description.MethodShouldBeStatic"
              id="com.baldapps.artemis.checkers.MethodShouldBeStatic"
              messagePattern="%problem.messagePattern.MethodShouldBeStatic"
              name="%problem.name.MethodShouldBeStatic">
        </problem>
        <problem
              category="org.eclipse.cdt.codan.core.categories.CompilerErrors"
              defaultEnabled="true"
              defaultSeverity="Error"
              description="%problem.description.MemberCannotBeWritten"
              id="com.baldapps.artemis.checkers.MemberCannotBeWritten"
              markerType="org.eclipse.cdt.codan.core.codanSemanticProblem"
              messagePattern="%problem.messagePattern.MemberCannotBeWritten"
              name="%problem.name.MemberCannotBeWritten">
        </problem>
        <problem
              category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
              defaultEnabled="true"
              defaultSeverity="Warning"
              description="%problem.description.MethodShouldBeConst"
              id="com.baldapps.artemis.checkers.MethodShouldBeConst"
              messagePattern="%problem.messagePattern.MethodShouldBeConst"
              name="%problem.name.MethodShouldBeConst">
        </problem>
     </checker>
     <checker
            class="com.baldapps.artemis.checkers.AssignmentOperatorChecker"
            id="com.baldapps.artemis.checkers.AssignmentOperatorChecker"
            name="%checker.name.AssignmentOperatorChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.MissSelfCheckProblem"
               id="com.baldapps.artemis.checkers.MissSelfCheckProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MissSelfCheckProblem"
               name="%problem.name.MissSelfCheckProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.MissReferenceProblem"
               id="com.baldapps.artemis.checkers.MissReferenceProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MissReferenceProblem"
               name="%problem.name.MissReferenceProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.GotoStatementChecker"
            id="com.baldapps.artemis.checkers.GotoStatementChecker"
            name="%checker.name.GotoStatementChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.GotoStatementProblem"
               id="com.baldapps.artemis.checkers.GotoStatementProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.GotoStatementProblem"
               name="%problem.name.GotoStatementProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.SwitchCaseChecker"
            id="com.baldapps.artemis.checkers.SwitchCaseChecker"
            name="%checker.name.SwitchCaseChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.MissCaseProblem"
               id="com.baldapps.artemis.checkers.MissCaseProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MissCaseProblem"
               name="%problem.name.MissCaseProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.MissDefaultProblem"
               id="com.baldapps.artemis.checkers.MissDefaultProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MissDefaultProblem"
               name="%problem.name.MissDefaultProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.ReturnChecker"
            id="com.baldapps.artemis.checkers.ReturnChecker"
            name="%checker.name.LocalAddressChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.LocalVarReturn"
               id="com.baldapps.artemis.checkers.LocalVarReturn"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.LocalVarReturn"
               name="%problem.name.LocalVarReturn">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.RetPrivateField"
               id="com.baldapps.artemis.checkers.RetPrivateField"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.RetPrivateField"
               name="%problem.name.RetPrivateField">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.NoRetThisOpAssign"
               id="com.baldapps.artemis.checkers.NoRetThisOpAssign"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.NoRetThisOpAssign"
               name="%problem.name.NoRetThisOpAssign">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.AllocationChecker"
            id="com.baldapps.artemis.checkers.AllocationChecker"
            name="%checker.name.AllocationChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.DeleteThisProblem"
               id="com.baldapps.artemis.checkers.DeleteThisProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.DeleteThisProblem"
               name="%problem.name.DeleteThisProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.PointerResetProblem"
               id="com.baldapps.artemis.checkers.PointerResetProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.PointerResetProblem"
               name="%problem.name.PointerResetProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.DynamicArrayProblem"
               id="com.baldapps.artemis.checkers.DynamicArrayProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.DynamicArrayProblem"
               name="%problem.name.DynamicArrayProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.DeleteVoidProblem"
               id="com.baldapps.artemis.checkers.DeleteVoidProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.DeleteVoidProblem"
               name="%problem.name.DeleteVoidProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.NamingConventionClassesChecker"
            id="com.baldapps.artemis.checkers.NamingConventionClassesChecker"
            name="%checker.name.NamingConventionClassesChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.ClassNameProblem"
               id="com.baldapps.artemis.checkers.ClassNameProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.ClassNameProblem"
               name="%problem.name.ClassNameProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.LabelPositionProblem"
               id="com.baldapps.artemis.checkers.LabelPositionProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.LabelPositionProblem"
               name="%problem.name.LabelPositionProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.FieldsVisibilityProblem"
               id="com.baldapps.artemis.checkers.FieldsVisibilityProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.FieldsVisibilityProblem"
               name="%problem.name.FieldsVisibilityProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.TryCatchStatementChecker"
            id="com.baldapps.artemis.checkers.TryCatchStatementChecker"
            name="%checker.name.TryCatchStatementChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CatchAllProblem"
               id="com.baldapps.artemis.checkers.CatchAllProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CatchAllProblem"
               name="%problem.name.CatchAllProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CatchAllOrderProblem"
               id="com.baldapps.artemis.checkers.CatchAllOrderProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CatchAllOrderProblem"
               name="%problem.name.CatchAllOrderProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CatchEmptyProblem"
               id="com.baldapps.artemis.checkers.CatchEmptyProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CatchEmptyProblem"
               name="%problem.name.CatchEmptyProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.EmptyThrowProblem"
               id="com.baldapps.artemis.checkers.EmptyThrowProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.EmptyThrowProblem"
               name="%problem.name.EmptyThrowProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.SizeofChecker"
            id="com.baldapps.artemis.checkers.SizeofChecker"
            name="%checker.name.SizeofChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.SizeofArrayProblem"
               id="com.baldapps.artemis.checkers.SizeofArrayProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.SizeofArrayProblem"
               name="%problem.name.SizeofArrayProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.SizeofNestedProblem"
               id="com.baldapps.artemis.checkers.SizeofNestedProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.SizeofNestedProblem"
               name="%problem.name.SizeofNestedProblem">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.SizeofVoidProblem"
               id="com.baldapps.artemis.checkers.SizeofVoidProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.SizeofVoidProblem"
               name="%problem.name.SizeofVoidProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.TrigraphsChecker"
            id="com.baldapps.artemis.checkers.TrigraphsChecker"
            name="%checker.name.TrigraphsChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.TrigraphsProblem"
               id="com.baldapps.artemis.checkers.TrigraphsProblemError"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.TrigraphsProblem"
               name="%problem.name.TrigraphsProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.LambdaExpressionChecker"
            id="com.baldapps.artemis.checkers.LambdaExpressionChecker"
            name="%checker.name.LambdaExpressionChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.LambdaCaptureProblem"
               id="com.baldapps.artemis.checkers.LambdaCaptureProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.LambdaCaptureProblem"
               name="%problem.name.LambdaCaptureProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.NamespaceChecker"
            id="com.baldapps.artemis.checkers.NamespaceChecker"
            name="%checker.name.NamespaceChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.StdNamespaceProblem"
               id="com.baldapps.artemis.checkers.StdNamespaceProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.StdNamespaceProblem"
               name="%problem.name.StdNamespaceProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.ForLoopChecker"
            id="com.baldapps.artemis.checkers.ForLoopChecker"
            name="%checker.name.ForLoopChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.FloatCounterProblem"
               id="com.baldapps.artemis.checkers.FloatCounterProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.FloatCounterProblem"
               name="%problem.name.FloatCounterProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.AutoPtrChecker"
            id="com.baldapps.artemis.checkers.AutoPtrChecker"
            name="%checker.name.AutoPtrChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.AutoPtrProblem"
               id="com.baldapps.artemis.checkers.AutoPtrProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.AutoPtrProblem"
               name="%problem.name.AutoPtrProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.BlacklistChecker"
            id="com.baldapps.artemis.checkers.BlacklistChecker"
            name="%checker.name.BlacklistChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.BlacklistProblem"
               id="com.baldapps.artemis.checkers.BlacklistProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.BlacklistProblem"
               name="%problem.name.BlacklistProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.MemCompareChecker"
            id="com.baldapps.artemis.checkers.MemCompareChecker"
            name="%checker.name.MemCompareChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.CompareCompositeTypesProblem"
               id="com.baldapps.artemis.checkers.CompareCompositeTypesProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CompareCompositeTypesProblem"
               name="%problem.name.CompareCompositeTypesProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.StringChecker"
            id="com.baldapps.artemis.checkers.StringChecker"
            name="%checker.name.StringChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.CstrProblem"
               id="com.baldapps.artemis.checkers.CstrProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.CstrProblem"
               name="%problem.name.CstrProblem">
         </problem>
      </checker>
      <checker
            class="com.baldapps.artemis.checkers.BraceChecker"
            id="com.baldapps.artemis.checkers.BraceChecker"
            name="%checker.name.BraceChecker">
         <problem
               category="org.eclipse.cdt.codan.core.categories.CodeStyle"
               defaultEnabled="false"
               defaultSeverity="Info"
               description="%problem.description.MissBraceProblem"
               id="com.baldapps.artemis.checkers.MissBraceProblem"
               markerType="org.eclipse.cdt.codan.core.codanProblem"
               messagePattern="%problem.messagePattern.MissBraceProblem"
               name="%problem.name.MissBraceProblem">
         </problem>
      </checker>
   </extension>
</plugin>
